.button {
  display: inline-block;
  border-radius: 50px;
  font-size: 24px;
  text-decoration: none;
  background: yellow;
  padding: 20px 30px;
  color: black;
}

.button-green {
  background: #8aba56;
  color: #fff;
}

.button:hover {
  background: #6a9a36;
  transition: all ease .3s;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
