.intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0, center top;
  padding: 60px;
  margin-top: 76px;
}

.intro .text-lead {
  color: #2c2c2c;
  max-width: 70%;
  margin: 0 15%;
}

.intro-logo {
  width: 120px;
  height: auto;
  margin-bottom: 40px;
}