body {
  font-family: "Trebuchet MS", sans-serif;
  color: #444;
  font-size: 16px;
}

.title-large {
  font-size: 48px;
  margin-bottom: 18px;
}

.title-medium {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 12px;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 50px;
  margin: 40px 0;
}

.text-lead {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-small {
  font-size: 12px;
  font-style: italic;
  line-height: 100%;
  padding-bottom: 10px;
}

.text-white {
  color: white;
}

.text-s {
  text-shadow: 1px 1px 2px black, 0 0 1em blue;
}
